.container__center {
  box-sizing: border-box;
  width: 50%;
  border-right: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  margin-right: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.container-header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
}

.container-header__main img {
  height: 30px;
  cursor: pointer;
}

.container-header__main h1 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 23px;
  color: #0f1419;
}

.container-post__main {
  display: flex;
  padding-top: 15px;
}

.div-avatar__main {
  width: 5%;
  display: flex;
}

textarea {
  width: 80%;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #5b7083;
  padding-left: 10px;
}

textarea:focus {
  height: 150px;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.div-actions__main {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}

.div-actions__main div {
  width: 25%;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.div-actions__main img {
  cursor: pointer;
}

.button-submit__main {
  width: 77px;
  height: 39px;
  background-color: #1da1f2;
  border: none;
  opacity: 0.5;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
}

.hr_main {
  height: 10px;
  width: 100%;
  left: 0px;
  background-color: #f4f4f4;
  position: absolute;
}

.section-post_main {
  margin-top: 20px;
  height: 720px;
  padding: 10px;
}

.div-post__main {
  display: flex;
}

.div-data-post__main {
  display: flex;
}

.data-post {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #5b7083;
  margin-right: 10px;
}

.img-post__main {
  border-radius: 50%;
}

.h2-post__main {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.p-post__main {
  font-weight: 500;
  margin-left: 20px;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 15px;
}

.div-post-actions__main {
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 60%;
}

.actions__main {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.show-more {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin-left: 50px;
  color: #1da1f2;
}
