.container-left__aside {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.div__menu {
  box-sizing: border-box;
  height: 450px;
  width: 100%;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__menu {
  height: 90%;
}

.ul__menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.picture__menu {
  margin-right: 5px;
}

.li__menu {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
}

.link__menu {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  transition: 0.5s ease;
  color: #000000;
}

.link__menu:hover {
  color: #1da1f2;
}
.button__menu {
  border: none;
  background-color: #1da1f2;
  margin-top: 15px;
  width: 175px;
  height: 40px;
  color: #ffffff;
  border-radius: 9999px;
}

.section__avatar {
  box-sizing: border-box;
  display: flex;
  padding-left: 15%;
  padding-bottom: 20px;
  width: 100%;
  align-items: center;
}

.div__avatar {
  display: flex;
}
.div-data__avatar {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
