:root {
  --blue-main: #1da1f2;
  --blue-second: #5b7083;
  --white-main: #f4f4f4;
  --white-second: #cfb3b3;
  --white-third: #f7f9fa;
  --white-fourth: #ebeef0;
  --pink-main: #f4245e;
  --black-main: #0f1419;
  --black-second: #394247;
}
