@import url(./abstract/reset/_resetCss.scss);
@import url(./abstract/main/_main.scss);
@import url(./abstract/footer/_footer.scss);
@import url(./abstract/aside-left/_aside-left.scss);
@import url(./abstract/aside-right/_aside-right.scss);

.container__main {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.container__content {
  display: flex;
  width: 100%;
  height: 92%;
}

button {
  cursor: pointer;
}
