.container-right__aside {
  padding: 10px 60px 30px 5px;
  width: 30%;
  box-sizing: border-box;
  position: relative;
}

.input-seach-right__aside {
  width: 348px;
  height: 39px;
  color: #5b7083;
  font-size: 1.1rem;
  font-weight: 500;
  background: #ebeef0;
  border-radius: 99999px;
  border: none;
  padding-left: 60px;
  margin-bottom: 10px;
}

.icon-search {
  position: absolute;
  color: #5b7083;
  left: 25px;
  top: 23px;
}

.section-right__aside {
  margin-bottom: 5px;
}

.div-right__main {
  width: 328px;
  padding: 10px;
  background: #f7f9fa;
  border-radius: 16px;
}

.title-right__aside {
  font-weight: 700;
  font-size: 1.3rem;
  color: #0f1419;
  letter-spacing: 0.014em;
}

hr {
  border: 1px solid #f4f4f4;
  margin-bottom: 3px;
}

.card-right__aside {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-contend__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 235px;
  height: 110px;
}

.span-tweet__aside {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5b7083;
}

.p-tweet__aside {
  color: #0f1419;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.img-profile__aside {
  border-radius: 50%;
}

.a-smore__aside,
.strong__aside {
  text-decoration: none;
  color: #1da1f2;
}

.span-term__aside {
  color: #5b7083;
  font-weight: 500;
  font-size: 13px;
  width: 350px;
}

.button-follow__aside {
  color: #1da1f2;
  border: 1px solid #1da1f2;
  background-color: transparent;
  width: 80px;
  height: 30px;
  border-radius: 9999px;
}

.h6-aside__right {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.span-aside__right {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #5b7083;
}
