@import url(../../colors.css);


.container__footer {
  background-color: var(--blue-main);
  display: flex;
  width: 100%;
  height: 8%;
}
.container-left__footer {
  width: 60vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
  padding-left: 20%;
  color: var(--white-main);
}

.title__foter {
  font-size: 15pt;
  font-weight: 600;
}

.span__footer {
  font-size: 10pt;
  font-weight: 400;
}

.container-right__footer {
  display: flex;
  width: 40vw;
  padding-right: 40px;
  justify-content: end;
  align-items: center;
}

.button__footer {
  margin: 7px;
  border: none;
  height: 40px;
  border-radius: 60px;
  font-size: 12pt;
  font-weight: 700;
}

.button-left__footer {
  color: var(--white-main);
  border: 1px solid var(--white-main);
  background-color: transparent;
  width: 80px;
}

.button-right__footer {
  color: var(--black-second);
  border: 1px solid var(--white-second);
  width: 100px;
}
